### Import, Overwrite, Connect, Cursor, Commit, Close ###

In [ ]:
from sqlite3 import *

open('example.db','w').close()
# To overwrite an existing file(Sqlite do not support DROP DATABASE)

database = connect('example.db')
# if example.db exists, connnect to it, else create it

c = database.cursor()
# Create a cursor for the database
#The cursor allows us to execute SQL commands and fetch data
#when the cursor executes a query, it points to the data(result of
#the query)

#--------------------------------------------------------------------
#
# Queries like create table, insert, update... goes here
#
#--------------------------------------------------------------------

# save changes if there are changes to the data in the tables
database.commit()

# Close the database file
database.close()

### Create Table ###

In [ ]:
c.execute('''
	CREATE TABLE Customers(
		Id INTEGER PRIMARY KEY NOT NULL,
		Name TEXT NOT NULL,
		PhoneNumber TEXT NOT NULL
		);
	''')

c.execute('''
	CREATE TABLE Products(
		Id INTEGER PRIMARY KEY NOT NULL,
		ProductName TEXT,
		UnitPrice NUMERIC,
		Package TEXT,
		SupplierName TEXT,
		SupplierCountry TEXT,
		);
	''')

c.execute('''
	CREATE TABLE Orders(
		Id INTEGER PRIMARY KEY NOT NULL,
		OrderDate TEXT NOT NULL,
		CustomerId INTEGER NOT NULL REFERENCES Customers(Id),
		ProductId INTEGER NOT NULL REFERENCES Products(Id),
		Quantity INTEGER NOT NULL,
		);
	''')
#dont have to indicate "FOREIGN KEY" as it is established 
#by using "REFERENCES Table(heading)"

### Inserting into tables ###

In [ ]:
c.execute('''
	INSERT INTO PRODUCTS 
		(ProductName,UnitPrice,Package,SupplierName,SupplierCountry)
		VALUES(?,?,?,?,?)
	''',
	('Chai',18,'10 boxes x 20 bags','Exotic Liquids','UK')
) 
#Good practice to use '?'(placeholders) as it helps prevent SQL
#injection attacks, When you use placeholders, the values are
#treated as data rather than part of the SQL command, making
#it much harder for attackers to inject malicious SQL Code
#into your queries. It also helps with performance, clarity and 
#maintainability


#Insert multiple data from a list
datalist = [('Chang', 19, '24 – 12 oz bottles', 'Exotic Liquids','UK'),
            ('Aniseed Syrup', 10, '12 – 550ml bottles', 'Exotic Liquids','UK'),
            ("Chef Anton's Cajun Seasoning", 22, '48 – 6 oz jars', 'New Orleans Cajun Delights', 'USA'),
            ("Chef Anton's Gumbo Mix", 21.35, '36 boxes', 'New Orleans Cajun Delights', 'USA')]

for data in datalist:
	c.execute('''
		INSERT INTO Products
			(ProductName, UnitPrice, Package, SupplierName,SupplierCountry)
			VALUES (?,?,?,?,?)
		''',
		data)
	

# Insert data from csv
from csv import*
file = open("Products.csv")
lst = reader(file)
next(lst)

for data in lst:
	c.execute('''
	INSERT INTO Products
		(Id, ProductName, UnitPrice,Package,SupplierName,SupplierCountry)
		VALUES(?,?,?,?,?,?)
	''', 
	data)

### Updating ###

In [ ]:
# Set Country to be "Singapore" for the record with FirstName="Thomas"
#and LastName="Hardy"
c.execute('''
	UPDATE Customers SET Country = ?
	WHERE FirstName="Thomas"
	AND LastName="Hardy";
	''', 
	('Singapore',))


# Set FirstName and LastName to be "Harry" and "Potter" 
# For the record with Id 5
c.execute('''
	UPDATE Customers SET FirstName=?, LastName=?
	WHERE Id=5;
	''', 
	("Harry","Potter"))


# Add Quantity by 10 for records where ID is less than 5
c.execute('''
	UPDATE Orders SET Quantity = Quantity + ?
	WHERE Id<5;
	''',
	(10,))

### Delete records

In [ ]:
c.execute('''
	DELETE FROM Customers 
	WHERE FirstName = 'Victoria';
''')

### Fetchone and Fetchall

In [ ]:
c.execute('''
	SELECT * FROM Products
	WHERE Id=1
''')

item = c.fetchone()
print(item)


c.execute('''
	SELECT * FROM Customers
''')

items = c.fetchall()
for item in items:
	print(item)